* {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: black;
}

.navbar {
  padding: 20px;
  position: relative;
  display: flex;
  align-items: center;
  width: auto;
  margin: 10px auto;
  border-radius: 10px;
  background-color: black;
}

.navbar h1 {
  color: #ffe200;
  font-size: 30px;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  color: #ffe200;
  margin-left: 16px;
  padding: 6px;
}

.sidebar {
  height: 100%;
  width: 29%;
  position: fixed;
  background-color: grey;
  padding-top: 10px;
  margin-top: 0px auto;
  float: left;
  display: flexbox;
}

.sidebar h1 {
  color: black;
  font-size: 30px;
}
.sidebar .links {
  margin-right: auto;
}
.sidebar a {
  color: black;
  margin-left: 16px;
  padding: 6px;
}

h2 {
  color: black;
  font-size: 50px;
  float: left;
  margin-left: 40px;
}
.button {
  display: inline-flex;
  float: left;
  margin-left: 40px;
}

.button button {
  padding: 10px;
  background-color: black; /* Green */
  color: #ffe200;
  padding: 20px;
  text-align: center;
  font-size: 17px;
  cursor: pointer;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-left: 1%;
}
.inputBox {
  margin-top: 40px;
  width: 700px;
  height: 100%;
  color: #ffe200;
  background-color: black;
}
.display {
  display: inline-flex;
  float: left;
  margin-left: 40px;
}
th {
  color: #ffe200;
}
td {
  padding-top: 30px;
  color: #ffe200;
}
td span {
  color: #ffe200;
}
input {
  width: 14px;
  margin-left: 10px;
}
#itemin {
  width: 70px;
  margin-left: 10px;
  align-items: center;
}
#quantity {
  width: 30px;
  margin-left: 10px;
}
#add {
  background-color: white;
  color: black;
  cursor: pointer;
}
#add:hover {
  background-color: #ffe200;
  color: black;
}

.calculations {
  text-align: center;
  margin-top: 15px;
  margin-left: 20px;
}
.display {
  display: flex;
  padding: 10px;
}
.calculations p {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}
.calculations .MuiLinearProgress-bar {
  border-radius: 50px !important;
}
#fivebyfive {
  height: 300px;
  margin-top: -35px;
}
#calc {
  font-size: 20px;
  text-align: left;
}
progress {
  height: 100px;
  width: 400px;
}
#editsize {
  margin-left: 30px;
}
#lwh {
  align-items: center;
}
label {
  color: #ffe200;
  margin-left: 10px;
}
#bar{
 font-size:x-large ;
}
